@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');

body {
    font-family: "Noto Sans Thai", sans-serif;
    background-color: rgb(209, 209, 209);
}



/* class ของข้อความ */
.XX{
    font-size: 21px;
}

/* เส้นแบ่งระหว่างนโยบาย */
hr {
    width: auto;
    height: 3px;
    background-color: black;
}

/* กล่องนโยบาย */
.all{
    width: 60%;
    background-color: white;
    border-radius: 0.5%;
    border: solid rgb(105, 105, 105) 5px;
    margin: auto;
    text-align: center;
    gap: 1px;
    margin: 0 auto;
    padding: 20px;
}


h2 header-text {
    margin-top: 200px;
}

.h2, .h3 {
    font-size: 1.5rem;
}


h4{
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
}

.end{
    text-align: center;    
}

a{
    text-decoration: none;
}

img{
    display: block;
    margin: auto;
}

/* button ยอมรับข้อตกลง */
.end {
    color: white;
    background: gray;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.end:hover {
    background-color: #555555; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    cursor: pointer; /* เปลี่ยนเมาส์เป็นนิ้วไปชี้ */
}

.end:hover a {
    color: rgb(0, 0, 0); /* เปลี่ยนสีตัวอักษรตอนเอาเมาส์วาง */
}

.end a {
    color: white;
}

.footer-copy {
  text-align: center;
  padding-top: 1.2rem;
  border-top: 1px solid;
  margin-top: 1rem;
  font-size: 1rem;
}