body{
    margin: 0 auto;
} /* navbar ตัวแถบค้นหา */
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    height: 7.5rem;
    max-width:auto;
    align-items: center;
    background-color: #D9D9D9;
    gap: 2rem;
    .icon img {
        padding-left: 4rem ;
        display: flex;
        height: 10rem;
    }
    .nav-search{
        display: flex;
        position: relative;
        padding-left: 2rem;
        width: 29rem;
    }
    .lang {
        text-align: center;
        width: 5rem;
        height: 3rem;
        border: 1px solid #8E90B2;
        border-radius: 1rem;
        background-color: antiquewhite;
    }
    .lang p {
        margin-top: 9px;
        font-size: 25px;
    }
    .nav-search input {
        margin: 0;
        width: 100%;
        height: 3rem;
        border:1px solid #ccc;
        border-radius: 10px;
        font-size: 2rem;
    }
    .nav-search button {
        position: absolute;
        right: 1rem;
        height: 2rem;
        width: 5rem;
        margin: 0.5rem auto;
        border: 1px solid #ccc;
        border-radius: 1rem;
    }
    .icon-gop {
        display: flex;
        gap: 3rem;
        font-size: 2.3rem;
    }
}
.nav-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 5.4rem;
    max-width: auto;
    gap: 1rem;
    padding-left:4.8rem ;
    text-align: center;
    background-color: #8E90B2;
    .nav-manu-info {
        display: flex;
        margin-left: 12.8rem;
        gap: 2rem ;
    }
    .nav-manu-info p {
        font-size: 23px;
    }
    .nav-manu {
        display: flex;
        align-items: center;
        margin: 1rem;
        height: 1rem;
        width: 5rem;
        padding: 1rem;
        align-items: center;
        text-align: center;
        border: 1px solid #be7d7d;
        border-radius: 1rem;
        background-color: antiquewhite;
    }
}

.list-product-sell {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
}